[submodule "libs/-f"]
	path = libs/-f
	url = https://github.com/madcock/libretro-common
[submodule "libs/libretro-common"]
	path = libs/libretro-common
	url = https://github.com/madcock/libretro-common
